# Start

In [1]:
print("Hello world!")

Hello world!

In [ ]:
print(123)

123

In [ ]:
# variable
message = "Hello world!"
print(message)

Hello world!

In [ ]:
# assigning number to a variable
x = 123
print(x)

123

# Data Types

In [ ]:
# strings
var1 = "This is a string"
var2 = 'This is also a string'

type(var1)

str

In [ ]:
# integers
var3 = 123
var4 = -345

type(var3)

int

In [ ]:
# floating points
var5 = -12.34
var6 = 1.0
type(var6)

float

In [7]:
# booleans
var7 = True
var8 = False

# must print
# print(type(var7))
type(var8)

bool

In [8]:
var9 = "123"
type(var9)

str

In [9]:
# assign variables
x = 1
y = 2

# assign result to new variable
z = x / y

# print the information (data)
print("z =", z, "it's type is", type(z))

z = 0.5 it's type is <class 'float'>

# Objects

An object is defined by its
* attributes/properties (data/information) and
* methods/functions (what it does).

# Integer Methods

In [19]:
x = 13
y = 3

# addition
print(f'{x} + {y} =', x + y)

# subtraction
print(f'{x} - {y} =', x - y)

# multiplication
print(f'{x} * {y} =', x * y)

# division
print(f'{x} / {y} =', x / y)

# exponents
print(f'{x}**{y} =', x**y)

# integer division
print(f'{x} // {y} =', x // y)

# modulus
print(f'{x} % {y} =', y % x)

13 + 3 = 16
13 - 3 = 10
13 * 3 = 39
13 / 3 = 4.333333333333333
13**3 = 2197
13 // 3 = 4
13 % 3 = 3

Note on integer division and modulo:

$$\begin{align}
    \frac{13}{3}
    &= 4 + \frac{1}{3} \\
    &= n + \frac{m}{3}
\end{align}$$

```
13 // 3 = n = 4
13 % 3 = m = 1
```

# String Methods

In [20]:
# "adding" strings
x = '3'
y = '13'

print(x + y)

313

In [21]:
# string operations
str1 = "hello"
str2 = "world"

# concatenation
print(str1 + " " + str2)
print(str1, str2)

# upper/lower casing
print(str1.upper())
print("World".lower())
print(str1.title(), str2.title())
print((str1 + " " + str2).title())

print(str1 + " " + str2.title())

hello world
hello world
HELLO
world
Hello World
Hello World
hello World

In [25]:
# indexing (starts at 0)
"ABC"[0]

'A'

In [29]:
str1 = "ABCDEFG"

# length (property)
print(str1, "has", len(str1), "characters")

# indexing
print(str1[0]) # indexing 1st char
print(str1[1]) # indexing 2nd char
print(str1[2]) # indexing 3rd

# reverse indexing
print(str1[-2]) # indexing the 2nd last char
print(str1[-1]) # indexing the (1st) last char

ABCDEFG has 7 characters
A
B
C
F
G

In [35]:
str1 = "ABCDEFG"

# slicing
print(str1[-3:len(str1)]) # slice last three chars
print(str1[-3:]) # last three chars (with default indexing)

print(str1[0:5]) # slice first five chars (index 0 to 4)
print(str1[:5]) # slice first five chars (with default indexing)


print(str1[:5:2]) # slice first five chars incrementing by 2
print(str1[0:5:3]) # slice first five chars incrementing by 3

EFG
EFG
ABCDE
ABCDE
ACE
AD

# Boolean Methods

In [37]:
# booleans
t = True
f = False

# not / negation: flips True to False and vice versa
print(not t)

# and / conjunction: True if ALL True, False if ANY False
print(t and t and t and t and f)

# or / disjunction: True if ANY True, False if ALL False
print(t or f or f or f or f)

False
False
True

In [44]:
# comparison operators
print('1 == 1:\t', 1 == 1)

print('1 > 1 :\t', 1 > 1)

print('1 >= 1:\t', 1 >= 1)

print('1 < 1 :\t', 1 < 1)

print('1 <= 1:\t', 1 <= 1)

1 == 1:	 True
1 > 1 :	 False
1 >= 1:	 True
1 < 1 :	 False
1 <= 1:	 True

In [46]:
# cases matter for string comparisons

print("ABC" == "ABC")
print("ABC" == "ABc")

True
False

In [47]:
# check containing
print("a" in "abc")
print("d" in "abc")

True
False

In [49]:
# compounded boolean statements
("e" in "abc") and ("b" in "abc")

False

# If/Conditional Statements

In [62]:
# if statement

is_tues = True

if is_tues:
    print("It's Taco Tuesday!")

It's Taco Tuesday!

In [63]:
# else captures all other cases

is_tues = False

if is_tues:
    print("It's Taco Tuesday!")

else:
    print("No Taco's today :(")

No Taco's today :(

In [64]:
# elif statement

is_tues = False
rest_open = False

if is_tues and rest_open:
    print("Let's go to the Taco restaurant")

elif rest_open:
    print("We'll have fries today")

else:
    print("We'll pack a lunch")

We'll pack a lunch

In [69]:
# two if statements are not the same as if statement with elif

is_tues = True
rest_open = True

if is_tues and rest_open:
    print("Let's go to the Taco restaurant")

if rest_open:
    print("We'll have fries today")

Let's go to the Taco restaurant
We'll have fries today

In [71]:
# two if statements are not the same as if statement with elif

is_tues = True
rest_open = True

if is_tues and rest_open:
    print("Let's go to the Taco restaurant")

elif rest_open:
    print("We'll have fries today")

Let's go to the Taco restaurant

# Collections

### List
* Ordered
* Mutable (changeable)

In [72]:
# lists
list1 = [1, 2, 3]

# check type name
print(type(list1))

# number of elements
print(len(list1))

# indexing
print(list1[0])

# slicing
print(list1[:2])

<class 'list'>
3
1
[1, 2]

In [78]:
list1 = [1, 2, 3]

# changing the list

# original
print(list1)

# index third element
print(list1[2])

# reassign third element
list1[2] = "c"
print(list1)

[1, 2, 3]
3
[1, 2, 'c']

In [86]:
island = ['Linda', 'Zeinab', 'Alex', 'Jack']

print("Our island members:")
print(island, '\n')

# get rid of Alex
out = island.pop(2)

print(out, 'is out:')
print(island, '\n')


# add Alex back to end
island.append("Alex")

print("Add Alex is back, but he's at the end of the line:")
print(island, '\n')


# insert Bob in third place
island.insert(2, "Bob")

print("Insert Bob to index 2 position:")
print(island, '\n')

Our island members:
['Linda', 'Zeinab', 'Alex', 'Jack']

Alex is out:
['Linda', 'Zeinab', 'Jack']

Add Alex is back, but he's at the end of the line:
['Linda', 'Zeinab', 'Jack', 'Alex']

Insert Bob to index 2 position:
['Linda', 'Zeinab', 'Bob', 'Jack', 'Alex']

In [88]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

# join two lists and assign to variable
list3 = list1 + list2

# no "=" assignment needed for . methods
list3.append('d')
print(list3)

[1, 2, 3, 'a', 'b', 'c', 'd']

In [90]:
mylist = [1, 3, 4, 2]

# print original list
print(mylist)

# print list sorted from lowerst to highest
print(sorted(mylist))

# print list sorted in reverse order
print(sorted(mylist, reverse=True))

[1, 3, 4, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [92]:
x, y, z = 1, 2, 3

mylist = [y, x, z, 1.231, 431.2]
print('Original:', mylist)

print('Sorted (ascending):', sorted(mylist))
print('Sorted (descending):', sorted(mylist, reverse=True))

Original: [2, 1, 3, 1.231, 431.2]
Sorted (ascending): [1, 1.231, 2, 3, 431.2]
Sorted (descending): [431.2, 3, 2, 1.231, 1]

In [93]:
sorted(mylist, reverse=True)

[431.2, 3, 2, 1.231, 1]

### Tuples
* Ordered
* Unmutable

### Sets
* Unordered
* Unique

### Dictionary
* Key-value pair
* Unique keys

# Loops/Iterations

In [95]:
list1 = ['a', 'b', 'c']

# print each element (manually)
x = list1[0]
print(x)

x = list1[1]
print(x)

x = list1[2]
print(x)

a
b
c

In [96]:
# print with loop

for x in list1:
    print(x)

a
b
c

In [97]:
island = ['Linda', 'Zeinab', 'Alex', 'Jack']

for person in island:
    print(person)

Linda
Zeinab
Alex
Jack

In [98]:
island = ['Linda', 'Zeinab', 'Alex', 'Jack']

for person in island:

    print("Hej", person + "!")

Hej Linda!
Hej Zeinab!
Hej Alex!
Hej Jack!

In [99]:
island = ['Linda', 'Zeinab', 'Alex', 'Jack']

for person in island:

    if person == "Alex":
        print("Bonjour", person+"!")
  
    else:
        print("Hej", person+"!")

Hej Linda!
Hej Zeinab!
Bonjour Alex!
Hej Jack!

In [100]:
island = [["Linda", "SP"], ["Zeinab", "SV"], ["Alex", "FR"], ["Jack", "EN"], ["Oskar", "SV"], ["Rebecca", "SV"]]

for person in island:
  
    name = person[0]
    lang = person[1]

    if lang == "SV":
        print("Hej", name+"!")
    else:
        print("Hi", name+"!")

Hi Linda!
Hej Zeinab!
Hi Alex!
Hi Jack!
Hej Oskar!
Hej Rebecca!

In [101]:
island = [["Linda", "SP"], ["Zeinab", "SV"], ["Alex", "FR"], ["Jack", "EN"], ["Oskar", "SV"], ["Rebecca", "GE"]]

langs = {'SP':'Hola', 'SV' : 'Hej', 'FR' : 'Bonjour', 'EN' : 'Hi'}

for person in island:
  
    name = person[0]
    lang = person[1]

    if lang in langs:
        print(langs[lang], name + '!')
    else:
        print("Hi", name+"!", "How do you say hello in your language?")

Hola Linda!
Hej Zeinab!
Bonjour Alex!
Hi Jack!
Hej Oskar!
Hi Rebecca! How do you say hello in your language?