# Challenge 1
To infinity and beyond 🚀

**(Warm-Up)**

A pizza delivery boy accidentally falls into a cryogenic chamber on New Years Eve, 1999, and is reanimated in the year 3000. 

At the time of his freezing, he had $0.93 in his bank account. Assuming an average 2.25\% interest rate compounded annually, how much money will he have in the bank when he wakes up?

Double check: https://www.youtube.com/watch?v=6JwkaLt9pf8

---

In [1]:
# warm-up

principal = 0.93
apr = 2.25 / 100
t = 1000

balance = principal * (1+apr)**t

print(f'With ${principal} in the bank and {apr:.2%} interest compounded annually over {t} years...')
print(f'... his balance will be ${balance:,.2f}.')

With $0.93 in the bank and 2.25% interest compounded annually over 1000 years...
... his balance will be $4,283,508,449.71.

**(Challenge)**

Suppose a mile is **1.609 km**, and the speed of light is **299,792,458 m/s** in a vacuum. The average distance between the Earth and the Sun is called an astronomical unit, or AU, which is about **92,955,807 miles**. How many **`astronomical units`** are there in a **`light-year`**?

<!-- Share your solution below! Remember to use

> ```python
> # your code here
> ```

to format your code nicely 👌

--- -->

In [2]:
# challenge

c_mps = 299_792_458    # m/s
mi_per_au = 92_955_807 # miles
km_per_mi = 1.609      # km / mile

c_kmps = c_mps / 1000             # km/s
km_per_au = mi_per_au * km_per_mi # km

# seconds in year: 365.25 days/year x 24 hr/day x 60 m/hr x 60 s/m
spy = 365.25 * 24 * 60 * 60 # s/year

lyr_km = c_kmps * spy # lyr in km

lyr_per_au = lyr_km / km_per_au # result

print('AU per light-year:', lyr_per_au)

AU per light-year: 63254.598047256135

# Challenge 2
999,999,997... 999,999,998... 999,999,999... ⌛

**(Warm-up)**

What is **`1000`** seconds in minutes and seconds? Print it in the format **`mm:ss`**.

---

In [3]:
# warm-up

t = 1000
print(t, "seconds is equal to", t//60, "m", t%60, "s")

1000 seconds is equal to 16 m 40 s

**(Challenge)**

One million seconds is equal to __11 days, 13 hours, 46 minutes and 40 seconds__ (according to quora).

Print **`one billion seconds`** in years, days, hours, minutes, and seconds.

<!-- Share your solution below! Remember to use

```python
# your code here
```


to format your code nicely 👌

--- -->

In [4]:
# challenge

t = int(1e9)

# modulo bases: amount of each unit before overflow
m_s = 60   # seconds
m_mi = 60  # minutes
m_hr = 24  # hours
m_dy = 365 # days

# bases: seconds in each unit denom
b_mi = 60 
b_hr = b_mi * m_mi # 60 * 60
b_dy = b_hr * m_hr # 60 * 60 * 24
b_yr = b_dy * m_dy # 60 * 60 * 24 * 30 * 12

s = t % m_s
mi = (t // b_mi) % m_mi
hr = (t // b_hr) % m_hr
dy = (t // b_dy) % m_dy
yr = t // b_yr

print(yr, "years", dy, "days", hr, "hours", mi, "minutes" , s, "seconds")

31 years 259 days 1 hours 46 minutes 40 seconds

In [5]:
# bad version

t = int(1e9)

# denoms
dmi = 60 # minute
dh = 60 * dmi # hour
dd = 24 * dh # day
dmo = 30 * dd # month
dy = 365 * dd # year

# integers
y = t // dy
mo = (t // dmo) % 12
d = (t // dd) % 30
h = (t // dh) % 24
mi = (t // dmi) % 60
s = t % 60

print(y, "years", mo, "month", d, "day", h, "h", mi, "m" , s, "s")

31 years 1 month 24 day 1 h 46 m 40 s

In [6]:
# fixed issue with months

t = int(1e9)

# modulo bases: amount of each unit before overflow
m_s = 60           # seconds
m_mi = 60          # minutes
m_hr = 24          # hours
m_dy = 365.25 / 12 # days in an average year
m_mo = 12          # months

# bases: seconds in each unit denom
b_mi = 60 
b_hr = b_mi * m_mi # s/hr : 60 * 60
b_dy = b_hr * m_hr # s/dy : 60 * 60 * 24
b_mo = b_dy * m_dy # s/mo : 60 * 60 * 24 * 365.25/12
b_yr = b_mo * m_mo # s/yr : 60 * 60 * 24 * 365.25/12 * 12

s = t % m_s
mi = int((t // b_mi) % m_mi)
hr = int((t // b_hr) % m_hr)
dy = int((t // b_dy) % m_dy)
mo = int((t // b_mo) % m_mo)
yr = int(t // b_yr)

print(yr, "years", mo, "months", dy, "days", hr, "hours", mi, "minutes" , s, "seconds")

31 years 8 months 7 days 1 hours 46 minutes 40 seconds

In [7]:
# robust to arbritrary time units
t = 1e10

# moduli and units (singular and plural)
mods = [(60, 'second', 'seconds'),
        (60, 'minute', 'minutes'),
        (24, 'hour', 'hours'),
        (365.25/12, 'day', 'days'),
        (12, 'month', 'months'),
        (100, 'year', 'years'),
        (10, 'century', 'centuries'),
        (1_000_000, 'millenium', 'millenia'),
        (None, 'eon', 'eons')
       ]

# result and first base
msg, bases = '', [1]

for mod, sunit, punit in mods:
    
    # get last integer division base
    base = bases[-1]
    
    # modulus exists
    if mod:
        n = int((t // base) % mod)
        bases.append(mod * bases[-1])
    # no modulus
    else:
        n = int(t // base) # do not modulate
    
    # plural unit
    if n > 1:
        msg = f' {n} {punit}' + msg # use plural unit
    # singular unit
    elif n == 1:
        msg = f' {n} {sunit}' + msg # use singular unit
    
print(msg)

 3 centuries 16 years 10 months 16 days 17 hours 46 minutes 40 seconds

Let **`a = (x // y) % z`** and **`b = (x \% z) // y`** for integers `x, y, z`. When does **`a == b`**?

In [8]:
s, n = 3000, 3100 # start, end
eq, neq = 0, 0 # count of equals, not equal

for x in range(s, n):
    for y in range(s, n):
        for z in range(s, n):
            
            a = (x // y) % z
            b = (x % z) // y
            
            if a == b:
                eq+=1
            else:
                neq+=1
                
#             print('x, y, z =', (x, y, z),
#               '\ta = (x // y) % z =', a,
#               '\tb = (x % z) // y =', b,
#               '\ta == b?', a == b
#                  )

total = eq + neq
print(f'a == b: {eq} of {total} ({100 * eq/total:.2f}%)')
print(f'a != b: {neq} of {total} ({100 * neq/total:.2f}%)')

a == b: 661650 of 1000000 (66.17%)
a != b: 338350 of 1000000 (33.84%)

# Challenge 3
To 1 or not to 1? 💀

**(Warm-up)**

Given a string that tells 24-hr time*, convert it to a string that tells 12-hr time.
```python
# for example, if
t_24h = "23:45"

# then your result should be
t_12h = # "11:45"

print (t_12h)
```
*Assume the hour is zero-padded, e.g. "01:00" instead of "1:00".

---

In [9]:
# warm-up

t_24h = "23:45"

hh_24 = int(t_24h[:2])
hh_12 = hh_24 % 12

t_12h = str(hh_12) + t_24h[2:]

print(t_12h)

11:45

**(Challenge)**

In base-10 or the decimal system, the number **10** is can be expressed as
> **10** = **1** (10) + **0** (1).

Similarly, in __binary__ or base-2 system, the decimal number **10** is written as
> __**1010**__ = **1** (8) + **0** (4) + **1** (2) + **0** (1).

Print the **`binary`** representation of the decimal number **`100`**.

<!-- Share your solution below! Remember to use 

> \```python
> # your code here
> \```

to format your code nicely :ok_hand:

--- -->

In [10]:
# challenge

# base-10 number
n = 10

# base
base = 2

d0 = (n // base**0) % base # 1st digit (in base-b)
d1 = (n // base**1) % base # 2nd digit
d2 = (n // base**2) % base # 3rd digit
d3 = (n // base**3) % base # 4th digit

# new base number
nb = f'{d3}{d2}{d1}{d0}'

print(nb)

1010

In [11]:
# robust to arbitrary n and base

n = 100
base = 2

# initiate total and exponent
total, power = 0, 0

# initiate result string
res = ''

while total < n:
        
    # place value of digit
    place_value = base**power
    
    # update exponent for next digit
    power += 1
    
    # digit
    digit = (n // place_value) % base
    
    # add total of digits so far in base-10
    total += digit * place_value
    
    # add string result to left
    res = str(digit) + res

In [12]:
print(res)

1100100

# Challenge 4

From [Wikipedia](https://en.wikipedia.org/wiki/Drake_equation):

The Drake equation is:

$$ N = R_{*} \cdot f_p \cdot n_e \cdot f_l \cdot f_i \cdot f_c \cdot L$$

where:

* $N$ = the number of civilizations in our galaxy with which communication might be possible (i.e. which are on our current past light cone);

and

* $R_*$ = the average rate of star formation in our Galaxy (1.5–3 stars per year)
* $f_p$ = the fraction of those stars that have planets (around 1.0)
* $n_e$ = the average number of planets that can potentially support life per star that has planets ()
* $f_l$ = the fraction of planets that could support life that actually develop life at some point
* $f_i$ = the fraction of planets with life that actually go on to develop intelligent life (civilizations)
* $f_c$ = the fraction of civilizations that develop a technology that releases detectable signs of their existence into space
* $L$ = the length of time for which such civilizations release detectable signals into space

# Challenge n
Patriotic youth that have one nation ❔

**(Warm-Up)**

<!-- \subsubsection*{(Warm-Up)} -->

Consider the equation:
\begin{align}
f(x) = \sqrt{1 - x^2}.
\end{align}

Compute the following summation:
\begin{align}
\sigma = \sum_{n=1}^{N}  f\left({n \over N}\right) {1 \over N}
\end{align}

for $N = 1000$. What is $4\sigma?$ What if $N = 100,000?$ What's going on here?

In [13]:
# warm-up

# define n
N = 100_000

# define function
f = lambda x: (1-x**2)**(1/2)
dx = 1/N

# approximate integral
sigma = sum(f(n * dx) * dx for n in range(N))

# approximate pi
pi = 4*sigma

print(pi)

3.1416126164019564

**(Challenge)**

An acrostic poem is one where certain letters in each line forms a secret message. "A Valentine" by Edgar Allen Poe has a secret message formed by the 1st letter of the 1st line, the 2nd letter of the 2nd line, ..., n-th letter of n-th line.

Can you figure out who this poem is about?

In [14]:
# "A Valentine", a hidden acrostic by Edgar Allen Poe
# message key is the nth letter of the nth line
poem = """
For her this rhyme is penned, whose luminous eyes,
Brightly expressive as the twins of Loeda,
Shall find her own sweet name, that, nestling lies
Upon the page, enwrapped from every reader.
Search narrowly the lines!--they hold a treasure
Divine--a talisman--an amulet
That must be worn at heart. Search well the measure--
The words--the syllables! Do not forget
The trivialest point, or you may lose your labor!
And yet there is in this no Gordian knot
Which one might not undo without a sabre,
If one could merely comprehend the plot.
Enwritten upon the leaf where now are peering
Eyes scintillating soul, there lie perdus
Three eloquent words oft uttered in the hearing
Of poets, by poets--as the name is a poet’s, too.
Its letters, although naturally lying
Like the knight Pinto--Mendez Ferdinando--
Still form a synonym for Truth--Cease trying!
You will not read the riddle, though you do the best you can do.
"""

In [15]:
# challenge

# split lines
lines = poem.split('\n')

# remove empty beginning and ending lines
lines = lines[1:-1]

# initiate message
msg = ''

# for n-th line
for n, line in enumerate(lines):
    
    # filter alphabetical characters
    chars = [s for s in line if s.isalpha()]
    
    # add n-th character to message
    msg += chars[n]
    
print(msg)

Francessargentosgood