## Data Types

Notice in the examples below, the different operations result in different types of outcomes.

In [1]:
print(1 + 1)  # this is an integer

2

In [8]:
# floating point
x_int = 1000
print(type(x_int))

x_float = 2/3
print(type(x_float))

x_str = "1"
print(type(x_str))

<class 'int'>
<class 'float'>
<class 'str'>

In [12]:
print(1.0 + 1)  # this is an integer added to a decimal/floating point

2.0

In [13]:
print("1" + "1")  # this a string/text

11

In [15]:
print(100 * 2)

200

In [16]:
print(100 * "2")

2222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222

We will learn more about the different types of variables later, but for now, remember that you can use the `type` command to find out the type of an expression:

In [19]:
type(1)

int

In [20]:
type(3.14)

float

In [21]:
type("Hello")

str

In [22]:
type("1")

str

In [23]:
type("3.14")

str

In [24]:
type(1 + 1)

int

In [25]:
type("1" + "1")

str

In [26]:
type(10 * "2")

str

**Lesson**: Notice the different data types above: `str` (string), `int` (integer), `float` (decimal numbers). One thing hat you will notice is that the outcome of the various operators (`+`, `*`, etc) can be different based on the data types involved.

In [33]:
x = 1.99
round(x)

2

In [46]:
y = '0.2341'
int(y)

10.1

In [39]:
x = 10
str(x)

'10'

In [36]:
type(1.0)

float

In [37]:
type(1)

int

In [38]:
type("1")

str

#### Exercise 

What will the following program print out? Figure it our _before_ running the program.

In [47]:
x = 41
x = x + 1
print(x)

42

In [48]:
x = "41"
x = x + "1"
print(x)

411

In [57]:
msg = 'Hello dear beautiful people.'

In [85]:
# indexing single character

# indexing starts at 0
i = 1
print(msg[i])

# reverse indexing
i = -1
print(msg[i])

e
.

'people'

In [76]:
# slicing (mulitple characters)

# get first 5 characters
print(msg[0:5])
print(msg[:5])

Hello
Hello

In [93]:
y = 'Hello dear beautiful people.'
a = y[:5]
b = y[6:10]
c = y[11:20]
d = y[21:-1]

print(a)
print(b)
print(c)
print(d)

# for x in [a, b, c, d]:
#     print(x)

Hello
dear
beautiful
people
Hello
dear
beautiful
people