In [1]:
import requests

In [46]:
def lookup(word):

    url = f'https://api.dictionaryapi.dev/api/v2/entries/en/{word}'
    print(url)
    
    resp = requests.get(url)
    data = resp.json()

    word = data[0]['word']
    definition = data[0]['meanings'][0]['definitions'][0]['definition']

    print('Word:', word)
    print('Definition:', definition)

## Open Weather

In [65]:
url = 'https://api.openweathermap.org/data/2.5/weather'

lat, lon = 59.85929894130589, 17.62142016962143
params = {
    'lat' : lat,
    'lon' : lon,
    'appid' : 'ffb7b9808e07c9135bdcc7d1e867253d',
    'units' : 'metric'
}

resp = requests.get(url, params=params)
data = resp.json()

In [70]:
resp.url

'https://api.openweathermap.org/data/2.5/weather?lat=59.85929894130589&lon=17.62142016962143&appid=ffb7b9808e07c9135bdcc7d1e867253d&units=metric'

In [71]:
data.keys()

dict_keys(['coord', 'weather', 'base', 'main', 'visibility', 'wind', 'clouds', 'dt', 'sys', 'timezone', 'id', 'name', 'cod'])

In [72]:
data['main']

{'temp': 12.76,
 'feels_like': 11.4,
 'temp_min': 11.03,
 'temp_max': 12.99,
 'pressure': 1022,
 'humidity': 50}

## FRED API

In [91]:
import pandas

In [109]:
# get requests
url = 'https://api.stlouisfed.org/fred/series'
obs_url = 'https://api.stlouisfed.org/fred/series/observations'

params = {
    'api_key' : '43c439412ffc329ce9e644b6382e35a8',
    'file_type' : 'json',
    'series_id' : 'GNPCA'
}

resp = requests.get(url, params=params)
obs_resp = requests.get(obs_url, params=params)

info = resp.json()
data = obs_resp.json()

# get info
title = info['seriess'][0]['title']
units = info['seriess'][0]['units']

# info
print(title)
print(units)

# some cleaning
df = pandas.DataFrame(data['observations'])
df['value'] = df['value'].astype(float)
df['diff'] = df['value'].diff()
df['pct_change'] = df['value'].pct_change()

# display data
display(df)

Real Gross National Product
Billions of Chained 2012 Dollars

   realtime_start realtime_end        date      value     diff  pct_change
0      2022-03-24   2022-03-24  1929-01-01   1120.718      NaN         NaN
1      2022-03-24   2022-03-24  1930-01-01   1025.678  -95.040   -0.084803
2      2022-03-24   2022-03-24  1931-01-01    958.927  -66.751   -0.065080
3      2022-03-24   2022-03-24  1932-01-01    834.769 -124.158   -0.129476
4      2022-03-24   2022-03-24  1933-01-01    823.628  -11.141   -0.013346
..            ...          ...         ...        ...      ...         ...
87     2022-03-24   2022-03-24  2016-01-01  17901.894  299.407    0.017009
88     2022-03-24   2022-03-24  2017-01-01  18354.584  452.690    0.025287
89     2022-03-24   2022-03-24  2018-01-01  18874.582  519.998    0.028331
90     2022-03-24   2022-03-24  2019-01-01  19271.920  397.338    0.021051
91     2022-03-24   2022-03-24  2020-01-01  18582.295 -689.625   -0.035784

[92 rows x 6 columns]

In [111]:
resp.url

'https://api.yelp.com/v3/businesses/search?latitude=59.85929894130589&longitude=17.62142016962143&radius=500&categories=food%2C+All'

In [114]:
url = 'https://maps.googleapis.com/maps/api/geocode/json' 

address = 'Uppsala Ekonomikum'

params = {
    'address': address,
    'key': 'AIzaSyAwAQwNRabOhjJxgB9zkogV-BKgbAnjxUk'
}

resp = requests.get(url, params = params)
data = resp.json()
data['results']

[{'address_components': [{'long_name': '10',
    'short_name': '10',
    'types': ['street_number']},
   {'long_name': 'KyrkogÃ¥rdsgatan',
    'short_name': 'KyrkogÃ¥rdsgatan',
    'types': ['route']},
   {'long_name': 'Luthagen',
    'short_name': 'Luthagen',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': 'Uppsala', 'short_name': 'Uppsala', 'types': ['postal_town']},
   {'long_name': 'Uppsala lÃ¤n',
    'short_name': 'Uppsala lÃ¤n',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Sweden',
    'short_name': 'SE',
    'types': ['country', 'political']},
   {'long_name': '753 13', 'short_name': '753 13', 'types': ['postal_code']}],
  'formatted_address': 'KyrkogÃ¥rdsgatan 10, 753 13 Uppsala, Sweden',
  'geometry': {'location': {'lat': 59.8592397, 'lng': 17.6214309},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 59.8607041302915,
     'lng': 17.6230282802915},
    'southwest': {'lat': 59.85800616970849, 'lng': 17.6203303197085}}},
  'partial_match': True,
  'place_id': 'ChIJO03DTfPLX0YRQsBgW2VOf3U',
  'plus_code': {'compound_code': 'VJ5C+MH Uppsala, Sweden',
   'global_code': '9FFVVJ5C+MH'},
  'types': ['establishment', 'point_of_interest']}]

In [110]:
key = 'ghDOEjzopHiDK7mmH988M7zt1zMffm6UnZyh-Mgc4kggnnhRYKxm5jvaNbPWbbTmPf8EUkdAoMXUjsmFYs38cFgPLi7CWpRtO8ot_4YoKBEw73UAn5AAKMp2JwI5YnYx'

# header
headers = {'Authorization': 'Bearer ' + key}

url = 'https://api.yelp.com/v3/businesses/search'

parameters = {
    "latitude": lat,
    "longitude" : lon,
    'radius' : 500,
    'categories' : 'food, All'
}

resp = requests.get(url, headers=headers, params=parameters)
data = resp.json()

data.keys()
data['businesses']

[{'id': 'evUdhrweFYPaQpFkbEACCw',
  'alias': 'karins-skafferi-uppsala',
  'name': 'Karins skafferi',
  'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/xkKXDRuu5bZ6NW7S8bUt5Q/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/karins-skafferi-uppsala?adjust_creative=VKyx7qG8XwSXUISOSpVZ-Q&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=VKyx7qG8XwSXUISOSpVZ-Q',
  'review_count': 1,
  'categories': [{'alias': 'delicatessen', 'title': 'Delicatessen'}],
  'rating': 5.0,
  'coordinates': {'latitude': 59.8632756, 'longitude': 17.6213525},
  'transactions': [],
  'price': '$$$',
  'location': {'address1': 'Geijersgatan 15',
   'address2': None,
   'address3': None,
   'city': 'Uppsala',
   'zip_code': '752 26',
   'country': 'SE',
   'state': 'C',
   'display_address': ['Geijersgatan 15', '752  26 Uppsala', 'Sweden']},
  'phone': '+4618555637',
  'display_phone': '+46 18 55 56 37',
  'distance': 442.1999207729577},
 {'id': 'k2w9S8a4Uh_hFymLlzRSsw',
  'alias': 'cafÃ©-uroxen-uppsala',
  'name': 'CafÃ© Uroxen',
  'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/am4JR4g-4i2EL_UQWmnmww/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/caf%C3%A9-uroxen-uppsala?adjust_creative=VKyx7qG8XwSXUISOSpVZ-Q&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=VKyx7qG8XwSXUISOSpVZ-Q',
  'review_count': 1,
  'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'},
   {'alias': 'thai', 'title': 'Thai'},
   {'alias': 'cafes', 'title': 'Cafes'}],
  'rating': 4.0,
  'coordinates': {'latitude': 59.8586197, 'longitude': 17.6274395},
  'transactions': [],
  'price': '$$',
  'location': {'address1': 'S:T Johannesgatan 18',
   'address2': None,
   'address3': None,
   'city': 'Uppsala',
   'zip_code': '753 12',
   'country': 'SE',
   'state': 'C',
   'display_address': ['S:T Johannesgatan 18', '753  12 Uppsala', 'Sweden']},
  'phone': '+4618133107',
  'display_phone': '+46 18 13 31 07',
  'distance': 344.8131593357322}]