## Discussion Questions

What is programming?

What is object-oriented programming (OOP)?

What is an object?
* attributes/properties - information of an object
* methods/functions - actions an object can perform

In [1]:
# my first program
print("Hello world")

Hello world

### Markdown
Markdown is useful for formatting expository text

# header 1
## header 2
### header 3
#### header 4
##### header 5
##### header 6

*italics*

**bold**

***bold italics***


* bullet points

* bullet points

1. enumeration

2. enumeration

```python
# code formatting
print("Hello world")
```

LaTex math equations: $e^{i\pi} + 1 = 0$

Multi-line equations:
$$\begin{align}
    f(x) = ax^n, n \in \mathbb{Z} \setminus \{0\} &\implies f'(x) = a n x^{n-1}
    \\&\implies
    f^{(m)}(x) = a {n! \over (n-m)!} x^{n-m}
\end{align}$$

## Variables

In [2]:
# variables
celsius = 12
fahrenheit = (celsius * 9/5) + 32

print(celsius, '째C =', fahrenheit, '째F')

12 째C = 53.6 째F

## Primitive Data Types

In [3]:
# integer
x = 1
type(x)

int

In [4]:
# float
x = 1.0
type(x)

float

In [5]:
# string
x = '1.0'
type(x)

str

In [6]:
# boolean
x = True
type(x)

bool

## (Built-in) Data Structures

In [7]:
# set: unordered collection of unqiue elements
x = {1, 2, 3}
type(x)

set

In [8]:
# tuple: immutable, ordered collection
x = (1, 2, 3)
type(x)

tuple

In [9]:
# list: mutable, ordered collection
x = [1, 2, 3]
type(x)

list

In [10]:
# dictionary: key-value pairs with unique keys
x = {'a' : 1, 'b' : 2, 'c' : 3}
type(x)

dict

## Conditions (If Statements)

In [11]:
# conditions: if statements

x = 10

if x < 5:
    print('x is less than 5')

elif x > 5:
    print('x is greater than 5')
    
# isn't something missing?

x is greater than 5

In [12]:
# another example
today = "2021-10-11"

# import datetime package
from datetime import datetime as dt

# some processing
date = dt.strptime(today, '%Y-%M-%d')
dayofweek = date.weekday()
weekdict = {0:'Mon', 1:'Tues', 2:'Wedns', 3:'Thurs', 4:'Fri', 5:'Satur', 6:'Sun'}

# if statement
if dayofweek == 1:
    print(today, "is Taco Tuesday!")
else:
    print(today, "is not Taco Tuesday :( It's a", weekdict[dayofweek]+'day.')

2021-10-11 is not Taco Tuesday :( It's a Monday.

## Iteration (For Loops)

In [13]:
# iterative index
for i in range(11):
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [14]:
# repetition with iteration
for _ in range(10):
    print('a rose is', end=' ')

print('...')

a rose is a rose is a rose is a rose is a rose is a rose is a rose is a rose is a rose is a rose is ...

In [15]:
# fibonnaci numbers
fib = [1, 1] # seed

# iterate to create fibonnaci sequence
for _ in range(10):
    fib.append(fib[-1] + fib[-2])

# print each fib number iteratively
for n in fib:
    print(n, end=', ')

1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144,

## Control Flow (Conditions + Iteration)

In [16]:
# fizzbuzz
n = 20

for i in range(1, n+1):
    
    msg = ''
    
    if i % 5 == 0:
        msg += 'Fizz'
    
    if i % 7 == 0:
        msg += 'Buzz'
    
    if msg == '':
        msg = str(i)
    
    print(msg, end=', ')

1, 2, 3, 4, Fizz, 6, Buzz, 8, 9, Fizz, 11, 12, 13, Buzz, Fizz, 16, 17, 18, 19, Fizz,

## Functions

In [17]:
# simple example
def hello(name):
    return f'Hello {name}!'

In [18]:
hello('World')

'Hello World!'

## Object Classes

In [19]:
class Person:
    
    def __init__(self, name, age, job):
        
        self.name = name
        self.age = age
        self.job = job
    
    def describe(self):

        return f'My name is {self.name}. I am a {self.age}-year-old {self.job}.'
        
    def intro(self, other):
        
        return f'Nice to meet you {other}! My name is {self.name}.'

In [20]:
me = Person('Jack', 25, 'economics student')
me.describe()

'My name is Jack. I am a 25-year-old economics student.'

In [21]:
me.intro("Jill")

'Nice to meet you Jill! My name is Jack.'