[**Challenge 0**](#Challenge-0)

[**Challenge 1**](#Challenge-1)

[**Challenge 2**](#Challenge-2)

[**Challenge 3**](#Challenge-3)


# Challenge 0
To infinity and beyond ðŸš€

**(Warm-Up)**

A pizza delivery boy accidentally falls into a cryogenic chamber on New Years Eve, 1999, and is reanimated in the year 3000. 

At the time of his freezing, he had $0.93 in his bank account. Assuming an average 2.25\% interest rate compounded annually, how much money will he have in the bank when he wakes up?

Double check: https://www.youtube.com/watch?v=6JwkaLt9pf8

---

In [1]:
# warm-up

principal = 0.93
apr = 2.25 / 100
t = 1000

balance = principal * (1+apr)**t

print(f'With ${principal} in the bank and {apr:.2%} interest compounded annually over {t} years...')
print(f'... his balance will be ${balance:,.2f}.')

With $0.93 in the bank and 2.25% interest compounded annually over 1000 years...
... his balance will be $4,283,508,449.71.

**(Challenge)**

Suppose a mile is **1.609 km**, and the speed of light is **299,792,458 m/s** in a vacuum. The average distance between the Earth and the Sun is called an astronomical unit, or AU, which is about **92,955,807 miles**. How many **`astronomical units`** are there in a **`light-year`**?

<!-- Share your solution below! Remember to use

> ```python
> # your code here
> ```

to format your code nicely ðŸ‘Œ

--- -->

In [2]:
# challenge

c_mps = 299_792_458    # m/s
mi_per_au = 92_955_807 # miles
km_per_mi = 1.609      # km / mile

c_kmps = c_mps / 1000             # km/s
km_per_au = mi_per_au * km_per_mi # km

# seconds in year: 365.25 days/year x 24 hr/day x 60 m/hr x 60 s/m
spy = 365.25 * 24 * 60 * 60 # s/year

lyr_km = c_kmps * spy # lyr in km

lyr_per_au = lyr_km / km_per_au # result

print('AU per light-year:', lyr_per_au)

AU per light-year: 63254.598047256135

# Challenge 1
999,999,997... 999,999,998... 999,999,999... âŒ›

**(Warm-up)**

What is **`1000`** seconds in minutes and seconds? Print it in the format **`mm:ss`**.

---

In [3]:
# warm-up

t = 1000
print(t, "seconds is equal to", t//60, "m", t%60, "s")

1000 seconds is equal to 16 m 40 s

**(Challenge)**

One million seconds is equal to __11 days, 13 hours, 46 minutes and 40 seconds__ (according to quora).

Print **`one billion seconds`** in years, days, hours, minutes, and seconds.

<!-- Share your solution below! Remember to use

```python
# your code here
```


to format your code nicely ðŸ‘Œ

--- -->

In [4]:
# challenge

t = 1e9

# modulo bases: amount of each unit before overflow
m_s = 60           # seconds
m_mi = 60          # minutes
m_hr = 24          # hours
m_dy = 365.25 / 12 # days in an average year
m_mo = 12          # months

# bases: seconds in each unit denom
b_mi = 60 
b_hr = b_mi * m_mi # s/hr : 60 * 60
b_dy = b_hr * m_hr # s/dy : 60 * 60 * 24
b_mo = b_dy * m_dy # s/mo : 60 * 60 * 24 * 365.25/12
b_yr = b_mo * m_mo # s/yr : 60 * 60 * 24 * 365.25/12 * 12

s = t % m_s
mi = int((t // b_mi) % m_mi)
hr = int((t // b_hr) % m_hr)
dy = int((t // b_dy) % m_dy)
mo = int((t // b_mo) % m_mo)
yr = int(t // b_yr)

print(yr, "years", mo, "months", dy, "days", hr, "hours", mi, "minutes" , s, "seconds")

31 years 8 months 7 days 1 hours 46 minutes 40.0 seconds

In [5]:
# solution robust to arbritrary time units and unit plurality
t = 1e9

# units [mod base, unit name singular, unit name plural]
mods = [[60, 'second', 'seconds'],
        [60, 'minute', 'minutes'],
        [24, 'hour', 'hours'],
        [365.25/12, 'day', 'days'],
        [12, 'month', 'months'],
        [100, 'year', 'years'],
        [10, 'century', 'centuries'],
        [1_000_000, 'millenium', 'millenia'],
        [None, 'eon', 'eons'] # none for unmodulated
       ]


# result and first base
msg, base = '', 1

# ensure last round (t % base) == t
mods[-1][0] = t + 1

for mod, sing_unit, plur_unit in mods:
    
    # calculate unit value (integer seconds per base modulated)
    val = int((t // base) % mod)

    # update base value
    base *= mod

    # time unit singular/plural with boolean multiplcation
    unit = sing_unit * (val <= 1) + plur_unit * (val > 1)
    
    # add to result string if unit value >= 1
    msg = (val >= 1) * f' {val} {unit}' + msg # use plural unit
    
print(msg)

 31 years 8 months 7 days 1 hour 46 minutes 40 seconds

# Challenge 2
To 1 or not to 1? ðŸ’€

**(Warm-up)**

Given a string that tells 24-hr time*, convert it to a string that tells 12-hr time.
```python
# for example, if
t_24h = "23:45"

# then your result should be
t_12h = # "11:45"

print (t_12h)
```
*Assume the hour is zero-padded, e.g. "01:00" instead of "1:00".

---

In [6]:
# warm-up
t_24h = "23:45"

# get string index of ":"
colon_index = t_24h.find(':')

# slice hour and set to integer
h_24 = int(t_24h[:colon_index])

# modulate over 12
h_12 = h_24 % 12

# add 12hr hour to minutes
t_12h = str(h_12) + t_24h[colon_index:]

# check if over 12: can also use boolean operator here
over_12 = h_24 // 12

# add pm / am if over 12
t_12h += ' pm' * over_12 + ' am' * (1 - over_12)

print(t_12h)

11:45 pm

**(Challenge)**

In base-10 or the decimal system, the number **10** is can be expressed as
> **10** = **1** (10) + **0** (1).

Similarly, in __binary__ or base-2 system, the decimal number **10** is written as
> __**1010**__ = **1** (8) + **0** (4) + **1** (2) + **0** (1).

Print the **`binary`** representation of the decimal number **`100`**.

<!-- Share your solution below! Remember to use 

> \```python
> # your code here
> \```

to format your code nicely :ok_hand:

--- -->

In [7]:
# challenge

# base-10 number
n = 10

# base
base = 2

p0 = (n // base**0) % base # base**0 place
p1 = (n // base**1) % base # base**1 place
p2 = (n // base**2) % base # base**2 place
p3 = (n // base**3) % base # base**3 place

# new base number
nb = f'{p3}{p2}{p1}{p0}'

print(nb)

1010

In [8]:
# robust to arbitrary n and base

n = 100
base = 2

# initiate total and exponent
total, power = 0, 0

# initiate result string
res = ''

while total < n:
        
    # place value of digit
    place_value = base**power
    
    # update exponent for next digit
    power += 1
    
    # digit
    digit = (n // place_value) % base
    
    # add total of digits so far in base-10
    total += digit * place_value
    
    # add string result to left
    res = str(digit) + res
    
print(res)

1100100

# Challenge 3

**(Warm-up)**

Calculate the **minimum, maximum, and absolute values** of any two numbers `x` and `y`. Try this both with and without built-in python functions.

---

In [9]:
x, y = -2, 1

# with built-in functions

min_val = min(x, y)
max_val = max(x, y)
abs_x, abs_y = abs(x), abs(y)

print('Built-in results:')
print(f'(x, y): \t {x, y}')
print(f'min(x, y): \t {min_val}')
print(f'max(x, y): \t {max_val}')
print(f'abs(x, y): \t {abs_x, abs_y}')

print('-'*5)


# without built-in functions

# max/min
if x < y:
    min_val = x
    max_val = y
else:
    min_val = y
    max_val = x
    
# absolute vals
abs_x = x
if x < 0 :
    abs_x = -x
    
abs_y = y
if y < 0:
    abs_y = -y
    
print('From scratch results:')
print(f'(x, y): \t {x, y}')
print(f'min(x, y): \t {min_val}')
print(f'max(x, y): \t {max_val}')
print(f'abs(x, y): \t {abs_x, abs_y}')

Built-in results:
(x, y): 	 (-2, 1)
min(x, y): 	 -2
max(x, y): 	 1
abs(x, y): 	 (2, 1)
-----
From scratch results:
(x, y): 	 (-2, 1)
min(x, y): 	 -2
max(x, y): 	 1
abs(x, y): 	 (2, 1)

In [10]:
# using lambda functions and conditional expressions
minv = lambda x, y: x if x < y else y
maxv = lambda x, y: x if x > y else y
absv = lambda x: x if x > 0 else -x

# test functions
x, y = -2, 1

print('Lambda function results:')
print(f'(x, y): \t {x, y}')
print(f'min(x, y): \t {minv(x, y)}')
print(f'max(x, y): \t {maxv(x, y)}')
print(f'abs(x, y): \t {absv(x), absv(y)}')

Lambda function results:
(x, y): 	 (-2, 1)
min(x, y): 	 -2
max(x, y): 	 1
abs(x, y): 	 (2, 1)

In [11]:
# even more generalized for multiple arguments
minv = lambda *args: sorted(args)[0]
maxv = lambda *args: sorted(args)[-1]

In [12]:
minv(-1, 2, -3)

-3

In [13]:
maxv(-1, 2, -3)

2

**(Challenge)**

Given two integers, check if one is a **factor** of the other (regardless of their order).

If one number is a factor of the other, print the **factor** and **cofactor** of the **product**. Otherwise, indicate that neither are factors of each other.

For example, the results can be presented like so:
```python
m, n = 5, 10
print("5 and 2 are factors of 10.") # result message

m, n = 6, 2
print("2 and 3 are factors of 6.") # result message

m, n = 2, 7
print("2 and 7 are not factors of each other") # result message
```
Are there special cases to watch out for? For an extra challenge, try to use as few **if statements** as possible.

---

In [14]:
# with conditional statements (if statements)
m, n = 2, 7

# check if either numbers are zero
if 0 in (m, n):
    print(f"{m} and {n} are not factors of each other.")
    
# check if factors
elif m % n == 0:

    # check which is bigger
    if m < n:
        print(f"{m} and {n/m:.0f} are factors of {n}.")
    
    else:
        print(f"{n} and {m/n:.0f} are factors of {m}.")
        
else:
    print(f"{m} and {n} are not factors of each other.")

2 and 7 are not factors of each other.

In [15]:
# with minimal conditional statements
m, n = 7, 0

# rearrange to make m <= n
m, n = sorted((m, n))

# message if m, n are not factors
msg_n = f"{m} and {n} are not factors of each other."
    
# check if either numbers are zero
if 0 in (m, n):
    print(msg_n)

else:
    
    # check if m is factor of n
    is_factor = m % n == 0
    
    # message if n, m are factors
    msg_y = f"{m} and {n / m:.0f} are factors of {n}."
    
    # message without if statement
    msg = is_factor * msg_y + (not is_factor) * msg_n

    print(msg)

0 and 7 are not factors of each other.