# Challenge 1
To infinity and beyond ðŸš€

**(Warm-Up)**

A pizza delivery boy accidentally falls into a cryogenic chamber on New Years Eve, 1999, and is reanimated in the year 3000. 

At the time of his freezing, he had $0.93 in his bank account. Assuming an average 2.25\% interest rate compounded annually, how much money will he have in the bank when he wakes up?

Double check: https://www.youtube.com/watch?v=6JwkaLt9pf8

---

In [1]:
# warm-up

principal = 0.93
apr = 2.25 / 100
t = 1000

balance = principal * (1+apr)**t

print(f'With ${principal} in the bank and {apr:.2%} interest compounded annually over {t} years...')
print(f'... his balance will be ${balance:,.2f}.')

With $0.93 in the bank and 2.25% interest compounded annually over 1000 years...
... his balance will be $4,283,508,449.71.

**(Challenge)**

Suppose a mile is **1.609 km**, and the speed of light is **299,792,458 m/s** in a vacuum. The average distance between the Earth and the Sun is called an astronomical unit, or AU, which is about **92,955,807 miles**. How many **`astronomical units`** are there in a **`light-year`**?

<!-- Share your solution below! Remember to use

> ```python
> # your code here
> ```

to format your code nicely ðŸ‘Œ

--- -->

In [2]:
# challenge

c_mps = 299_792_458    # m/s
mi_per_au = 92_955_807 # miles
km_per_mi = 1.609      # km / mile

c_kmps = c_mps / 1000             # km/s
km_per_au = mi_per_au * km_per_mi # km

# seconds in year: 365.25 days/year x 24 hr/day x 60 m/hr x 60 s/m
spy = 365.25 * 24 * 60 * 60 # s/year

lyr_km = c_kmps * spy # lyr in km

lyr_per_au = lyr_km / km_per_au # result

print('AU per light-year:', lyr_per_au)

AU per light-year: 63254.598047256135

# Challenge 2
999,999,997... 999,999,998... 999,999,999... âŒ›

**(Warm-up)**

What is **`1000`** seconds in minutes and seconds? Print it in the format **`mm:ss`**.

---

In [3]:
# warm-up

t = 1000
print(t, "seconds is equal to", t//60, "m", t%60, "s")

1000 seconds is equal to 16 m 40 s

**(Challenge)**

One million seconds is equal to __11 days, 13 hours, 46 minutes and 40 seconds__ (according to quora).

Print **`one billion seconds`** in years, days, hours, minutes, and seconds.

<!-- Share your solution below! Remember to use

```python
# your code here
```


to format your code nicely ðŸ‘Œ

--- -->

In [4]:
# challenge

t = int(1e9)

# modulo bases: amount of each unit before overflow
m_s = 60   # seconds
m_mi = 60  # minutes
m_hr = 24  # hours
m_dy = 365 # days

# bases: seconds in each unit denom
b_mi = 60 
b_hr = b_mi * m_mi # 60 * 60
b_dy = b_hr * m_hr # 60 * 60 * 24
b_yr = b_dy * m_dy # 60 * 60 * 24 * 30 * 12

s = t % m_s
mi = (t // b_mi) % m_mi
hr = (t // b_hr) % m_hr
dy = (t // b_dy) % m_dy
yr = t // b_yr

print(yr, "years", dy, "days", hr, "hours", mi, "minutes" , s, "seconds")

31 years 259 days 1 hours 46 minutes 40 seconds

In [5]:
# bad version

t = int(1e9)

# denoms
dmi = 60 # minute
dh = 60 * dmi # hour
dd = 24 * dh # day
dmo = 30 * dd # month
dy = 365 * dd # year

# integers
y = t // dy
mo = (t // dmo) % 12
d = (t // dd) % 30
h = (t // dh) % 24
mi = (t // dmi) % 60
s = t % 60

print(y, "years", mo, "month", d, "day", h, "h", mi, "m" , s, "s")

31 years 1 month 24 day 1 h 46 m 40 s

In [6]:
# fixed issue with months

t = int(1e9)

# modulo bases: amount of each unit before overflow
m_s = 60           # seconds
m_mi = 60          # minutes
m_hr = 24          # hours
m_dy = 365.25 / 12 # days in an average year
m_mo = 12          # months

# bases: seconds in each unit denom
b_mi = 60 
b_hr = b_mi * m_mi # s/hr : 60 * 60
b_dy = b_hr * m_hr # s/dy : 60 * 60 * 24
b_mo = b_dy * m_dy # s/mo : 60 * 60 * 24 * 365.25/12
b_yr = b_mo * m_mo # s/yr : 60 * 60 * 24 * 365.25/12 * 12

s = t % m_s
mi = int((t // b_mi) % m_mi)
hr = int((t // b_hr) % m_hr)
dy = int((t // b_dy) % m_dy)
mo = int((t // b_mo) % m_mo)
yr = int(t // b_yr)

print(yr, "years", mo, "months", dy, "days", hr, "hours", mi, "minutes" , s, "seconds")

31 years 8 months 7 days 1 hours 46 minutes 40 seconds

In [7]:
# robust to arbritrary time units
t = 1e10

# moduli and units (singular and plural)
mods = [(60, 'second', 'seconds'),
        (60, 'minute', 'minutes'),
        (24, 'hour', 'hours'),
        (365.25/12, 'day', 'days'),
        (12, 'month', 'months'),
        (100, 'year', 'years'),
        (10, 'century', 'centuries'),
        (1_000_000, 'millenium', 'millenia'),
        (None, 'eon', 'eons')
       ]

# result and first base
msg, bases = '', [1]

for mod, sunit, punit in mods:
    
    # get last integer division base
    base = bases[-1]
    
    # modulus exists
    if mod:
        n = int((t // base) % mod)
        bases.append(mod * bases[-1])
    # no modulus
    else:
        n = int(t // base) # do not modulate
    
    # plural unit
    if n > 1:
        msg = f' {n} {punit}' + msg # use plural unit
    # singular unit
    elif n == 1:
        msg = f' {n} {sunit}' + msg # use singular unit
    
print(msg)

 3 centuries 16 years 10 months 16 days 17 hours 46 minutes 40 seconds

Let **`a = (x // y) % z`** and **`b = (x \% z) // y`** for integers `x, y, z`. When does **`a == b`**?

In [8]:
s, n = 3000, 3100 # start, end
eq, neq = 0, 0 # count of equals, not equal

for x in range(s, n):
    for y in range(s, n):
        for z in range(s, n):
            
            a = (x // y) % z
            b = (x % z) // y
            
            if a == b:
                eq+=1
            else:
                neq+=1
                
#             print('x, y, z =', (x, y, z),
#               '\ta = (x // y) % z =', a,
#               '\tb = (x % z) // y =', b,
#               '\ta == b?', a == b
#                  )

total = eq + neq
print(f'a == b: {eq} of {total} ({100 * eq/total:.2f}%)')
print(f'a != b: {neq} of {total} ({100 * neq/total:.2f}%)')

a == b: 661650 of 1000000 (66.17%)
a != b: 338350 of 1000000 (33.84%)

# Challenge 3
To 1 or not to 1? ðŸ’€

**(Warm-up)**

Given a string that tells 24-hr time*, convert it to a string that tells 12-hr time.
```python
# for example, if
t_24h = "23:45"

# then your result should be
t_12h = # "11:45"

print (t_12h)
```
*Assume the hour is zero-padded, e.g. "01:00" instead of "1:00".

---

In [9]:
# warm-up

t_24h = "23:45"

hh_24 = int(t_24h[:2])
hh_12 = hh_24 % 12

t_12h = str(hh_12) + t_24h[2:]

print(t_12h)

11:45

**(Challenge)**

In base-10 or the decimal system, the number **10** is can be expressed as
> **10** = **1** (10) + **0** (1).

Similarly, in __binary__ or base-2 system, the decimal number **10** is written as
> __**1010**__ = **1** (8) + **0** (4) + **1** (2) + **0** (1).

Print the **`binary`** representation of the decimal number **`100`**.

<!-- Share your solution below! Remember to use 

> \```python
> # your code here
> \```

to format your code nicely :ok_hand:

--- -->

In [10]:
# challenge

# base-10 number
n = 10

# base
base = 2

d0 = (n // base**0) % base # 1st digit (in base-b)
d1 = (n // base**1) % base # 2nd digit
d2 = (n // base**2) % base # 3rd digit
d3 = (n // base**3) % base # 4th digit

# new base number
nb = f'{d3}{d2}{d1}{d0}'

print(nb)

1010

In [11]:
# robust to arbitrary n and base

n = 100
base = 2

# initiate total and exponent
total, power = 0, 0

# initiate result string
res = ''

while total < n:
        
    # place value of digit
    place_value = base**power
    
    # update exponent for next digit
    power += 1
    
    # digit
    digit = (n // place_value) % base
    
    # add total of digits so far in base-10
    total += digit * place_value
    
    # add string result to left
    res = str(digit) + res

In [12]:
print(res)

1100100

# Challenge n
Rapping, rapping at my chamber door ðŸ¦‰

**(Warm-Up)**

<!-- \subsubsection*{(Warm-Up)} -->

Consider the equation:
\begin{align}
f(x) = \sqrt{1 - x^2}.
\end{align}

Compute the following summation:
\begin{align}
\sigma = \sum_{n=1}^{N}  f\left({n \over N}\right) {1 \over N}
\end{align}

for $N = 1000$. What is $4\sigma?$

What if $N = 100,000?$ What's going on here?

In [13]:
# warm-up

# define n
N = 100_000

# define function
f = lambda x: (1-x**2)**(1/2)
dx = 1/N

# approximate integral
sigma = sum(f(n * dx) * dx for n in range(N))

# approximate pi
pi = 4*sigma

print(pi)

3.1416126164019564

**(Challenge)**

An acrostic poem is one where certain letters in each line forms a secret message. "A Valentine" by Edgar Allen Poe has a secret message formed by the 1st letter of the 1st line, the 2nd letter of the 2nd line, ..., n-th letter of n-th line.

Can you figure out who this poem is about?

In [14]:
# "A Valentine", a hidden acrostic by Edgar Allen Poe
# message key is the nth letter of the nth line
poem = """
For her this rhyme is penned, whose luminous eyes,
Brightly expressive as the twins of Loeda,
Shall find her own sweet name, that, nestling lies
Upon the page, enwrapped from every reader.
Search narrowly the lines!--they hold a treasure
Divine--a talisman--an amulet
That must be worn at heart. Search well the measure--
The words--the syllables! Do not forget
The trivialest point, or you may lose your labor!
And yet there is in this no Gordian knot
Which one might not undo without a sabre,
If one could merely comprehend the plot.
Enwritten upon the leaf where now are peering
Eyes scintillating soul, there lie perdus
Three eloquent words oft uttered in the hearing
Of poets, by poets--as the name is a poetâ€™s, too.
Its letters, although naturally lying
Like the knight Pinto--Mendez Ferdinando--
Still form a synonym for Truth--Cease trying!
You will not read the riddle, though you do the best you can do.
"""

In [15]:
# challenge

# split lines
lines = poem.split('\n')

# remove empty beginning and ending lines
lines = lines[1:-1]

# initiate message
msg = ''

# for n-th line
for n, line in enumerate(lines):
    
    # filter alphabetical characters
    chars = [s for s in line if s.isalpha()]
    
    # add n-th character to message
    msg += chars[n]
    
print(msg)

Francessargentosgood

**(Challenge)**

A prime number **`p > 1`** is a natural number whose only divisor is 1 and itself. Create a set or list of all primes smaller than **1000**.

In [16]:
# challenge

primes = {2}

N = 1000
for n in range(2, N+1):
    
    # if it's not divsible by any prime so far
    if not any(n % p == 0 for p in primes):
        
        # it's a prime
        primes.add(n)
        
print(sorted(primes))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [17]:
# Sieve of Eratosthenes

primes, nonprimes = set(), set()

N = 1000

for n in range(2, N+1):
    
    # if n is not in the set of non-primes
    if n not in nonprimes:
        
        # it's a prime
        primes.add(n)
        
        # add all multiples to non-primes
        for m in range(n*2, N+1, n):
            nonprimes.add(m)
            
print(sorted(primes))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [18]:
# "lazy" method for Sieve of Erostophanes
# https://www.youtube.com/watch?v=5jwV3zxXc8E

def natural(n):
    '''
    yields natural numbers (recursive)
    
    parameters
    ---
    n : int
        the first number for the set
    '''
    yield n
    
    yield from natural(n+1)
    
def eros_sieve(s):
    '''
    yields primes (recursive)
    
    parameters
    ---
    s : generator (infinite set) of natural numbers
    '''
    n = next(s)
    yield n
    yield from eros_sieve(i for i in s if i%n != 0)
    

# get result
N = 1000 # limit

primes = set()
s = eros_sieve(natural(2))

p = next(s) # generate first prime

while p < N:
    primes.add(p)
    p = next(s) # generate next prime

print(sorted(primes))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

# Challenge

**(Warm-up)**

Create a list of numbers **`from 1 to 20`** in order where each number `n` is repeated `n` times.

i.e.: **`x = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, ....]`**.

Bonus points for using a list comprehension.

In [19]:
# warm-up
n = 20

x = [i for i in range(n+1) for _ in range(i)]
print(x)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20]

**(Challenge)**
    
A look-and-say number sequence is generated mnemonically. If we start with the number **`1`** in the sequence:

**`1`** reads `One "one"` => **`11`**, which is now the next number in the sequence.

**`11`** reads `Two "ones"` => **`21`**, 

**`21`** reads `One "two", one "one"` => **`1211`**,

**`1211`** reads `One "one", one "two", two "ones"` => **`111221`**,

**`111221`** reads `Three "ones", two "twos", one "one"` => **`312211`** ...

... and so on.

Create a `look-and-say` sequence as a list of **length 30** that begins with **1.**

i.e.:

```python
result == [1,
           11,
           21,
           1211,
           111221,
           312211,
             â‹®
          ]
```

# Challenge

**(Warm-up)**

Without any imports, create a function **`vec_mult()`** that takes two lists and returns their vector dot product.

```python
def vec_mult(vec1, vec2):
    # your code here
    return res

x = [1, 2, 3]
y = [4, 5, 6]

z = vec_mult(x, y)
print(z)
```

In [26]:
# warm-up

def vec_mult(vec1, vec2):
    
    res = sum(a * b for a, b in zip(vec1, vec2))
    
    return res

x = [1, 2, 3]
y = [4, 5, 6]

z = vec_mult(x, y)
print(z)

32

**(Challenge)**

Let a list of numbers represent a row vector. Let a list of row vectors represent a matrix. I've made a function `mprint` to print the matrix representation.

Without using imports:

**i)** create a function called **`transpose()`** that takes a matrix and returns its transpose.


**ii)** create a function called **`mat_mult()`** that takes two matrices and returns their dot product. Check your results with numpy.

```python
def transpose(X):
    # your code here
    return

def mat_mult(X, Y):
    # your code here  
    return

def mprint(M, *args, **kwargs):
    '''
    Quick print list M as matrix
    '''
    mat_rep = str(M).replace('],', '],\n')
    print(mat_rep, *args, **kwargs)
    
# test cases
X = [[1, 2],
     [3, 4],
     [5, 6]]

Y = transpose(X)
Z = mat_mult(X, Y)

mprint(X, '\n')
mprint(Y, '\n')
mprint(Z)
```

In [29]:
# challenge

def transpose(X):

    Y = [[0 for _ in X] for _ in X[0]]

    for i, xrow in enumerate(X):
        
        for j, v in enumerate(xrow):
        
            Y[j][i] = v

    return Y

def mat_mult(X, Y):
    
    YT = transpose(Y)
    
    Z = [[0 for _ in Y[0]] for _ in X]
    
    for i, x in enumerate(X):
        
        for j, y in enumerate(YT):
        
            Z[i][j] = vec_mult(x, y)
            
    return Z

def mprint(M, *args, **kwargs):
    '''
    Quick print list M as matrix
    '''
    mat_rep = str(M).replace('],', '],\n')
    print(mat_rep, *args, **kwargs)

# test case
X = [[1, 2],
     [3, 4],
     [5, 6]]

Y = transpose(X)
Z = mat_mult(X, Y)

mprint(X, '\n')
mprint(Y, '\n')
mprint(Z)

[[1, 2],
 [3, 4],
 [5, 6]]

[[1, 3, 5],
 [2, 4, 6]]

[[5, 11, 17],
 [11, 25, 39],
 [17, 39, 61]]